<footer>

    <div class="f-info">
        
        <div class="f-info-socials">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        <div>WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/contact">Contact Us</a>
            <a href="/terms">Terms of Service</a>
            <a href="/privacy">Privacy Policy</a>
        </div>
    </div>
</footer>